@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .nav-link {
    @apply text-[16px] font-[400] leading-7;
  }
  .heading-h1 {
    @apply text-[50px] font-[600] leading-[75px] text-white;
  }

  .heading-h3 {
    @apply text-[20px] font-[500] leading-[30px] text-black;
  }
  .heading-h4 {
    @apply text-[20px] font-[400] leading-[30px] tracking-wider text-white;
  }
  .custom-paragraph {
    @apply text-[15px] font-[400] leading-[22px];
  }

  .custom-logger-btn {
    @apply flex w-full items-center justify-center rounded-md bg-[#0291BF] py-3 text-[15px] text-white;
  }

  .input-group {
    @apply flex w-full flex-col gap-4;
  }
  .custom-label {
    @apply text-[15px] font-[400] leading-[22px];
  }
  .custom-input {
    @apply h-[40px] w-full rounded-md border border-gray-200 p-5 text-xs font-[400] leading-[18px];
  }

  .form-container {
    @apply flex flex-col items-center gap-6 px-5 py-5 sm:gap-4 lg:px-20;
  }
}
